#logo {
    /* tweak the logo for better alignment in the top-bar */
    position: relative;
    top: -2px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    
}

#bodycopy ul.in,
#bodycopy ol.in,
#sidebar ul,
#sidebar ol {
    /* Foundation doesn't indent lists at all, so we fix that here... */
    margin-left: 1.25em;
}
button, .button {
    font-family: 'Lato', sans-serif;
        font-size: 0.89em;
}

.top-bar .name h1 {
    font-size: 1.5em;
    font-family: 'Playfair Display', serif;
}
.top-bar {
    background: #3c0902;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 90%;
}
.top-bar-section .has-form {
    background: #3c0902;
}

.top-bar-section li a:hover:not(.button) {
    background: none repeat scroll 0% 0% #4e0900;
}

.top-bar-section li a:not(.button) {
    background: #3c0902;
}

.top-bar-section ul li.active > a {
    background: #5c2d2d;
}

.top-bar-section > ul > .divider {
    border-color: #190000;
}
.top-bar-section ul li > a {
    display: block;
    width: 100%;
    color: white;
    padding: 12px 0px 12px 15px;
    font-size: 90%;
    font-weight: 700;
}


.breadcrumbs > * a, .breadcrumbs > * span {
    color: #760e00;
}

#pagecont{
    background: #fcfcfc;
        position: relative;
min-height: 20px;
padding: 19px;
margin-bottom: 20px;
border: 2px solid rgb(250, 250, 250);
box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3), 0px 0px 40px rgba(128, 128, 128, 0.1) inset;
}
/* #masthead{

        background: #fcfcfc;
        position: relative;
min-height: 10px;
padding: 10px;
margin-bottom: 20px;
border: 2px solid rgb(250, 250, 250);
box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3), 0px 0px 40px rgba(128, 128, 128, 0.1) inset;
}*/
#masthead a {
    color: #760e00;
}
body {
    background-image: url("images/background.jpg");
    background-color: #988c80;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
}
p {
    font-family: 'Lato', sans-serif;
}

.cover:before {
    content:' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
}

hr{
    border-color: #560407;
}
.button {
    background-color: #560407;
}

button:hover, button:focus, .button:hover, .button:focus {
    background-color: #c70008;
}


.breadcrumbs {
    /* change default appearance of Foundation breadcrumbs */
    padding: 0;
    background: none;
    border: none;
}
    #bodycopy .breadcrumbs {
        /* make the breadcrumbs appear in the spot between masthead and bodycopy */
        margin: 0 0 -1em 0;
        position: relative;
        top: -1.75em;
        left: -6px;
    }
    #bodycopy .breadcrumbs li {
        background: #fff;
    }
    #bodycopy .breadcrumbs li:first-child {
        padding-left: 8px;
    }
    #bodycopy .breadcrumbs li:last-child {
        padding-right: 8px;
    }

#bodycopy ul.side-nav,
#sidebar ul.side-nav {
    /* we don't want navigation lists indented */
    margin-left: 0;
}
    #bodycopy .side-nav li {
        /* when side-nav in bodycopy, make it a little more prominent than Foundation default */
        font-size: 1em;
    }
        #bodycopy .side-nav a {
            font-weight: bold;
        }
        #bodycopy .side-nav ul ul a {
            font-weight: normal;
        }

ul.side-nav ul {
    /* nested sub-navigation (tree=true) */
    margin-top: 0.5em;
    margin-left: 2em;
}


#search-form {
    /* this better aligns the search form with the headline */
    margin: 0.75em 0 0 0;
}

#masthead h1 {
    /* no need for margin here since h1 is the only thing in masthead */
    margin: 0;
}

#sidebar h3 + ul.side-nav {
    /* get the nav headline closer to the nav */
    margin-top: -1em;
}


body.template-sitemap .breadcrumbs {
    /* breadcrumbs are redundant on a sitemap page */
    display: none;
}


/*
 * TinyMCE alignment styles, for images placed in bodycopy
 *
 */
.align_left,
.align_right {
    display: block;
    margin: 1em 0;
}

.align-center {
    display: block;
    margin: 1em auto;
}

@media only screen and (min-width: 500px) {

    /*
      * Alignment classes active only when screen is big enough to make them practical.
      * In our case we've set 500px as our cutoff under which images no longer align,
      * but you may need to tweak that specific to your case.
      *
      */

    .align_left {
        float: left;
        margin: 0 1em 0.5em 0;
        position: relative;
        top: 5px;
    }

    .align_right {
        float: right;
        margin: 0 0 1em 1em;
        position: relative;
        top: 5px;
    }
}

.image_caption small {
    display: block;
    color: #666;
}


